body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(to right, #000000e6,  #000000ec);
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: scroll;
}

.container {
    background: rgba(255, 0, 0, 0);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(255, 255, 255);
    animation: fadeIn 3s ease-in-out;
    max-height: 90vh;
    overflow-y: auto;
}

header h1 {
    font-size: 3.5em;
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
  
 
    animation: popOut 4s ease-out;
}

 h2 {
    color: #9c9b9b;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
}
strong {
    color: #c2c2c2;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: dotted;
}
.policy-section {
    margin-bottom: 20px;
}

.policy-section h2 {
    font-size: 1.5em;
    font-weight: 200;
    margin-bottom: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes popOut {
    0% { transform: scale(0); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}